# Editors
.vscode/
.idea/
 
# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
 
# Private Files
*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
 
# Mac/OSX
.DS_Store

# Cache and outputs
.cache/
.result/
result/
output/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.devenv/

# Nix shell specific
*.qcow2
